<!DOCTYPE html>
<html>
<head>
    <meta name="generator"
          content="HTML Tidy for HTML5 (experimental) for Windows https://github.com/w3c/tidy-html5/tree/c63cc39"/>
    <meta charset="utf-8">
    <title>Multiuser Blog</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    {% include 'user_header.html' %}
    <div class="row">
        <form action="/blog/post/create" method="POST">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <input type="text" name="title" value="{{post.title}}"/>
                </div>
                <div class="panel-body">
                    <input type="text" name="content" value="{{post.content}}"/>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-6">{{post.post_date}}</div>
                    </div>
                </div>
            </div>
			{% if post.key%}
			<input type="hidden" name="post_id" value="{{post.key.id()}}" />
			{% endif %}
            <input class="btn btn-standard" type="submit" value="Save"/>
        </form>
        {% if post.key %}
        <a href="/blog/post?id={{post.key.id()}}" class="btn btn-standard">Cancel</a>
        {% else %}
		<a href="/" class="btn btn-standard">Cancel</a>
		{% endif%}
    </div>
</div>
</body>
</html>
