<!DOCTYPE html>
<html>
<head>
    <meta name="generator"
          content="HTML Tidy for HTML5 (experimental) for Windows https://github.com/w3c/tidy-html5/tree/c63cc39"/>
    <meta charset="utf-8">
    <title>Multiuser Blog</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
{% include 'user_header.html' %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% if posts|length > 0 %}
            {% for post in posts %}
            {% include 'post_element.html' %}
            {% endfor %}
            {% else %}
            <div class="row">
                No posts were found.
            </div>
            {% endif %}
            {% if user %}
            <div class="row">
                <a href="/blog/post/create">Add Post</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
</div>
</body>
</html>
