<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login/Register</title>
</head>
<body>
<div class="container">
    <div class="row">
        Have an account? Log in here
    </div>
    <div class="row">
        <form action="/authentication/login" method="post">
            <label for="login_username">Username:</label>
            <input type="text" name="username" id="login_username"/>
            <label for="login_password">Password:</label>
            <input type="password" name="password" id="login_password"/>
            <input type="submit" value="Log In"/>
			<input type="hidden" name="redirect_url" value="{{redirect}}" />
        </form>
    </div>
    <div class="row">
        {{login_error}}
    </div>
	<div class="row">
		Don't have an account?
		<form action="/authentication/register">
		<input type="submit" value="Register" />
			<input type="hidden" name="redirect_url" value="{{redirect}}" />
		</form>
	</div>
</div>
</body>
</html>