<html>
  <head>
    <meta name="generator"
    content="HTML Tidy for HTML5 (experimental) for Windows https://github.com/w3c/tidy-html5/tree/c63cc39" />
    <title></title>
  </head>
  <body>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
		<div>
          <h1 style="display:inline">{{post.title}}</h1>
		  {% if user and user.nickname != post.poster.nickname %}
		  <form style="display:inline" action="/blog/post/like" method="POST">
			<input type="hidden" name="post_key" value="{{post.key.id()}}" />
			<button type="submit" class="btn">
				<span style="color:red" class="glyphicon glyphicon-heart"></span>
				{{post.likes|length}}
			</button>
		  </form>
		  {% else %}
		  <span style="color:red" class="glyphicon glyphicon-heart"></span>
				{{post.likes|length}}
		  {% endif %}
		  </div>
        </div>
        <div class="panel-body">{{post.content}}</div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">{{post.post_date}}</div>
              <div class="row">
                <a href="/blog/post?post_id={{post.key.id()}}">Permalink</a>
              </div>
            </div>
            <div class="col-sm-6">{% if user %}
            <div class="col-sm-6 col-xs-offset-6 text-right">
              <a href="/blog/post/edit?post_id={{post.key.id()}}">Edit</a>
            </div>
            <div class="col-xs-6 col-xs-offset-6 text-right">
              <a href="/blog/post/delete?post_id={{post.key.id()}}">Delete</a>
            </div>{% endif %}</div>
          </div>
		  <div class="row">
			{% if user %}
				Post a comment:
				<form action="/blog/post/comment" method="POST">
					<input type="text" name="comment_content" />
					<input type="hidden" name="post_key" value="{{post.key.id()}}" />
					<input type="submit" value="Post Comment" />
				</form>
			{% else %}
				Log in to comment.
			{% endif %}
		  </div>
		  <ul class="list-group">
			{% for comment in post.comments %}
				<li class="list-group-item">
					<div class="collapse in toggleable{{comment.id}}">
						{{comment.content}}
					</div>
					<div class="collapse toggleable{{comment.id}}">
						<form action="/blog/post/comment/edit" method="POST" >
							<input type="textarea" name="comment_content" value="{{comment.content}}" />
							<input type="hidden" name="comment_id" value="{{comment.id}}" />
							<input type="hidden" name="post_key" value="{{post.key.id()}}" />
							<input type="submit" value="Finish" />
						</form>
					</div>
					<div class="row">
						<div class="col-sm-12">
							Posted {{comment.comment_datetime}} by {{comment.commenter}}
						</div>
					</div>
					{% if user.nickname == comment.commenter %}
					<div class="row">
						<div class="col-sm-6">
							<a href=".toggleable{{comment.id}}" data-toggle="collapse">Edit</a>
						</div>
						<div class="col-sm-6 text-align-right">
							<form action="/blog/post/comment/delete" method="POST" >
								<input type="hidden" name="comment_id" value="{{comment.id}}" />
								<input type="hidden" name="post_key" value="{{post.key.id()}}" />
								<input type="submit" value="Delete" class="btn btn-link"/>
							</form>
						</div>
					</div>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
        </div>
      </div>
    </div>
  </body>
</html>
