<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login/Register</title>
</head>
<body>
<div class="container">
    <div class="row">
        Want to register?
    </div>
    <div class="row">
        <form action="/authentication/register" method="post">
            <label for="register_username">Username:</label>
            <input type="text" name="username" id="register_username"/>
            <label for="register_password">Password:</label>
            <input type="password" name="password" id="register_password"/>
            <label for="register_password">Confirm password:</label>
            <input type="password" name="password_confirm" id="register_password_confirm"/>
            <input type="submit" value="Register"/>
			<input type="hidden" name="redirect_url" value="{{redirect}}" />
        </form>
    </div>
    <div class="row">
        {{register_error}}
    </div>
	<div class="row">
		Already have an account?
		<form action="/authentication/login">
		<input type="submit" value="Login" />
			<input type="hidden" name="redirect_url" value="{{redirect}}" />
		</form>
	</div>
</div>
</body>
</html>