<!DOCTYPE html>
<div class="container">
	<div class="row">
        <div class="col-sm-6">
            {% if user %}
            <h4>Welcome, {{user.nickname}}</h4>
            {% else %}
            Please <a href="/authentication/login">login </a> or <a href="/authentication/register">register</a>.
            {% endif %}
        </div>
        <div class="col-sm-6 text-right">
            {% if user %}
            <a href="/authentication/logout">Log out</a>
            {% endif %}
        </div>
    </div>
</div>